.sectionPrincipal{
    background: green;
    width: 80%;
    height: 620px;
    position: absolute;
    margin-left: 9%;
}

.imagemCabecalho{
    margin-left: 75%;
    margin-top: -4%;
}

.header{
    background: white;
    width: 100%;
    height: 100px;
    text-align: left;
}

.menuOpcoes{
position: absolute;
margin: 10px 10px 10px 740px;
}

.layoutSecundario{
      height: 500px;
}

.rodape{
    background: yellow;
    text-align: center;
    font-family: calibri;
    font-size: 13px;
    margin-top: 8%;
}
