.layoutPrincipal{
    width: 100%;
    //height: 730px;
    //min-width:400px;
    //min-height:200px;

    background:#858fdb;
}

.cabecalho{
    width: 100%;
    height: 20%;
    background:#858fdb;
    text-align: justify; 
}

#corFontCabecalho{
    color:#061053;
    font-family: KEVIN ELEVEN;
}

.logo{
    margin-left: 85%;
    margin-top: -110px;
    width: 150px;
    height: 150px;
}

.menuBarra{
    background:#1c2b95;
}

#body_color{
    background:#061053   
}

.sessaoManterProfessor{
    //background:#858fdb;
    width: 45%;
    height: 53%;
    font-family:MKX Title ;

}

.rodape{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 10PX;
    margin-top: 5%;
    background: #1c2b95;
}

#rodape{
    font-family:calibri ;
    color:#eeeff8;
    //padding-top:3%;
    margin-bottom: -5%;
}

#fontPadra{
    font: MKX Title;


}


.mens{
    width: 30%;
    
}